* {
  box-sizing: border-box;
  font-size: 1vw;
  font-family: "roboto", sans-serif;
}
@media (max-width: 950px) {
  * {
    font-size: 4vw;
  }
}
* html, * body {
  width: 100%;
  height: 100%;
}
@media (max-width: 950px) {
  * h2 {
    font-size: 6vw;
  }
}

@media (max-width: 950px) {
  h3 {
    font-size: 6vw;
  }
}

a {
  text-decoration: none;
  color: black;
}

strong {
  font-weight: bold;
}

body {
  width: 80%;
  height: 100%;
  margin: auto;
}
@media (max-width: 950px) {
  body {
    margin: 0;
    width: 100%;
  }
}

.header-box {
  width: 100%;
  height: 5vw;
  text-align: center;
  display: flex;
  border-bottom: 1px solid transparent;
  margin-bottom: 0;
}
@media (max-width: 950px) {
  .header-box {
    margin-bottom: 1vw;
    box-shadow: 1px -3vw 10vw rgba(36, 31, 31, 0.9);
    width: 100%;
    height: 16vw;
  }
  .header-box--noshadow {
    box-shadow: none;
  }
}
.header-box .logo {
  width: 71%;
  height: 100%;
  text-align: left;
  padding-left: 10%;
}
@media (max-width: 950px) {
  .header-box .logo {
    padding-left: 4vw;
  }
}
.header-box .logo > img {
  margin-top: 2%;
}
@media (max-width: 950px) {
  .header-box .logo > img {
    width: 40vw;
    height: 20vw;
    margin-top: -1vw;
  }
}
.header-box .lien {
  width: 29%;
  height: 100%;
  text-align: left;
  padding-left: 5%;
}
@media (max-width: 950px) {
  .header-box .lien {
    font-size: 5vw;
    padding-left: 5vw;
  }
}
.header-box .lien__icon {
  display: none;
}
.header-box .lien__icon--active {
  display: block;
  height: 100%;
  padding-top: 12%;
}
@media (max-width: 950px) {
  .header-box .lien__icon--active {
    padding-top: 8vw;
  }
}

.research {
  background-color: #eaeaea;
  width: 100%;
  height: 4vw;
  display: flex;
}
@media (max-width: 950px) {
  .research {
    font-size: 4vw;
    height: 12vw;
  }
}
.research input {
  width: 60%;
  height: 100%;
  font-size: 1.5vw;
  border: none;
  background: transparent;
  border: none;
  outline: none;
}
@media (max-width: 950px) {
  .research input {
    font-size: 4vw;
  }
}
.research > span {
  display: inline-block;
  width: 40%;
  height: 100%;
  padding-right: 1%;
  padding-top: 1.5vw;
  background: transparent;
  text-align: right;
}
@media (max-width: 950px) {
  .research > span {
    padding-top: 3.5vw;
    padding-right: 3vw;
  }
}

.section-research {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.section-research__titre {
  width: 90%;
  height: 5vw;
  font-size: 2vw;
}
@media (max-width: 950px) {
  .section-research__titre {
    height: 15vw;
    margin-top: 10vw;
    font-size: 6vw;
  }
}
.section-research .description {
  width: 90%;
  text-align: center;
  margin-top: -3%;
  font-size: 1.5vw;
}
@media (max-width: 950px) {
  .section-research .description {
    margin-top: -3vw;
    height: 8vw;
    font-size: 4vw;
    margin-bottom: 10vw;
  }
}

.btn {
  outline: none;
  border: none;
  width: 15vw;
  height: 4vw;
  border-radius: 3rem;
  font-size: 1vw;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-bottom: 2%;
  background: linear-gradient(360deg, #9356DC 1%, #c77fb3 100%);
}
@media (max-width: 950px) {
  .btn {
    width: 55vw;
    font-size: 3.5vw;
    height: 12vw;
    margin-bottom: 10vw;
    border-radius: 6vw;
  }
  .btn--margin {
    margin-top: 10vw;
    margin-bottom: 20vw;
  }
}

.box-fct {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vw;
  align-items: center;
}
@media (max-width: 950px) {
  .box-fct {
    height: 90vw;
    font-size: 4.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vw;
  }
}
.box-fct__titre {
  width: 10%;
  height: 5%;
}
@media (max-width: 950px) {
  .box-fct__titre {
    width: 90%;
    height: 5vw;
  }
}
.box-fct .box-fct__contain {
  width: 16vw;
  height: 3vw;
  border-radius: 2vw;
  padding-top: 0.7vw;
  box-shadow: 1px 0.5vw 0.5vw rgba(122, 120, 120, 0.5);
  background-color: #f6f6f6;
  font-weight: bold;
}
@media (max-width: 950px) {
  .box-fct .box-fct__contain {
    width: 90%;
    height: 16vw;
    border-radius: 5vw;
    padding-top: 5vw;
    box-shadow: 1px 1vw 2vw rgba(122, 120, 120, 0.5);
  }
}
.box-fct .box-fct__contain:hover {
  background-color: #e2e2e2;
  box-shadow: 1px 0.5vw 0.5vw #7a7878;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
@media (max-width: 950px) {
  .box-fct .box-fct__contain:hover {
    box-shadow: 1vw 1vw 2vw #7a7878;
  }
}
.box-fct .box-fct__contain:hover .icon {
  color: #9356DC;
}
.box-fct .box-fct__contain .number {
  display: block;
  background-color: #9356DC;
  width: 1.5vw;
  height: 1.5vw;
  margin-left: -0.8vw;
  text-align: center;
  color: white;
  border-radius: 100%;
  float: left;
}
@media (max-width: 950px) {
  .box-fct .box-fct__contain .number {
    width: 6vw;
    height: 6vw;
    margin-left: -3vw;
  }
}
.box-fct .box-fct__contain .icon {
  display: block;
  text-align: center;
  float: left;
  color: #7e7e7e;
  margin-left: 1vw;
}
@media (max-width: 950px) {
  .box-fct .box-fct__contain .icon {
    margin-left: 5vw;
  }
}
.box-fct .box-fct__contain .text {
  display: block;
  float: left;
  margin-left: 1vw;
}
@media (max-width: 950px) {
  .box-fct .box-fct__contain .text {
    margin-left: 5vw;
  }
}

.resto {
  width: 100%;
  height: 25vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 0.5;
  background: #e7e4e4;
  border: 1px solid #e7e4e4;
}
@media (max-width: 950px) {
  .resto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    flex-wrap: nowrap;
    height: auto;
  }
}
.resto__titre {
  width: 100%;
  height: 3vw;
  text-align: left;
}
@media (max-width: 950px) {
  .resto__titre {
    width: 90%;
    height: 6vw;
  }
}
.resto__menu {
  width: 18vw;
  height: 15vw;
  background: white;
  border-radius: 1vw;
}
@media (max-width: 950px) {
  .resto__menu {
    border-radius: 4vw;
    margin-bottom: 3vw;
    height: 70vw;
    width: 90%;
  }
}
.resto__menu__image {
  width: 100%;
  height: 70%;
}
.resto__menu__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}
@media (max-width: 950px) {
  .resto__menu__image > img {
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
  }
}
.resto__menu .new-resto {
  background-color: #99E2D0;
  color: #1b6150;
  text-align: center;
  font-weight: bold;
  width: 5vw;
  height: 2vw;
  padding-top: 0.7vw;
  position: relative;
  top: -13vw;
  right: -12vw;
}
@media (max-width: 950px) {
  .resto__menu .new-resto {
    width: 25vw;
    height: 8vw;
    position: relative;
    padding-top: 3vw;
    top: -61vw;
    right: -60vw;
  }
}
.resto > div:nth-last-child(1) {
  margin-bottom: 15vw;
}

.heart {
  display: block;
  text-align: right;
  z-index: 1000;
  float: right;
  margin-top: -5vw;
  margin-right: 1vw;
}
@media (max-width: 950px) {
  .heart {
    margin-top: -20vw;
    margin-right: 6vw;
  }
}
.heart--position {
  margin-top: -3vw;
}
@media (max-width: 950px) {
  .heart--position {
    margin-top: -12vw;
  }
}
.heart .test {
  font-size: 2vw;
  color: #9356DC;
  transform: scale(0);
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 950px) {
  .heart .test {
    font-size: 8vw;
  }
}
.heart .hide {
  font-size: 2vw;
  z-index: 1;
  position: relative;
  left: 2.2vw;
}
@media (max-width: 950px) {
  .heart .hide {
    font-size: 8vw;
  }
}
@media (max-width: 950px) {
  .heart .hide {
    left: 9vw;
  }
}
.heart .hide:hover {
  color: #9356DC;
  transition: 0.2 ease-in-out;
}
.heart .hide:hover + .test {
  transform: scale(1);
}

.resto__menu a > .text {
  padding-left: 0.5vw;
}
@media (max-width: 950px) {
  .resto__menu a > .text {
    padding-left: 3vw;
  }
}

.box-section {
  width: 100%;
  height: 15vw;
  background: #353535;
  color: white;
}
@media (max-width: 950px) {
  .box-section {
    height: 50vw;
  }
}
.box-section > h3 {
  font-family: "shrikhand", sans-serif;
  width: 90%;
  margin: auto;
  font-size: 2vw;
  position: relative;
  top: 2vw;
}
@media (max-width: 950px) {
  .box-section > h3 {
    top: 5vw;
    font-size: 6vw;
  }
}
.box-section > div {
  width: 90%;
  margin: auto;
  position: relative;
  top: 3vw;
}
@media (max-width: 950px) {
  .box-section > div {
    top: 12vw;
  }
}
.box-section > div > p {
  margin-top: -2vw;
  font-size: 2vw;
}
@media (max-width: 950px) {
  .box-section > div > p {
    font-size: 4vw;
  }
}
.box-section > div > p > a {
  color: white;
}
.box-section > div > p > span {
  display: inline-block;
  width: 2vw;
  padding-right: 1vw;
}
@media (max-width: 950px) {
  .box-section > div > p > span {
    width: 4vw;
    padding-right: 7vw;
  }
}

.box {
  width: 100%;
  height: 70vw;
}
.box__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-resto {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10vw;
  border-top-left-radius: 10vw;
  background-color: white;
  background: #e7e4e4;
  position: relative;
  top: -15vw;
  margin-bottom: -15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box-resto__titre {
  width: 100%;
  font-family: "Shrikhand", sans-serif;
  font-size: 7vw;
  padding-left: 5vw;
}
.box-resto__titre > span {
  float: right;
  padding-right: 10vw;
}
.box-resto__titre > span > i {
  font-size: 6vw;
  padding-top: 2.5vw;
}

.box-resto__entree, .box-resto__plat, .box-resto__dessert {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ma-map {
  margin-bottom: 3vw;
}
.ma-map .titre-entree {
  width: 100%;
}
.ma-map .titre-entree > h3 {
  border-bottom: 1vw solid #15DEA5;
  text-transform: uppercase;
  height: 10%;
  width: 10%;
  font-size: 4vw;
}

.plat {
  background: white;
  width: 90vw;
  height: 16vw;
  line-height: 1.5;
  border-radius: 3vw;
  margin-bottom: 3vw;
  overflow: hidden;
  display: flex;
  z-index: 1000;
}
.plat:hover .titre {
  width: 60vw;
}
.plat:hover .extension span:nth-child(2) > i {
  transform: rotate(360deg);
}
.plat .titre {
  width: 90vw;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 1vw;
  padding-left: 2vw;
  text-overflow: ellipsis;
  transition: width 0.6s ease-in-out;
}

.extension {
  width: 15vw;
  text-align: right;
  white-space: nowrap;
}
.extension span {
  display: inline-block;
  width: 15vw;
  text-align: center;
  height: 16vw;
}
.extension span:nth-child(2) {
  color: white;
  background: #15DEA5;
  border-top-right-radius: 3vw;
  border-bottom-right-radius: 3vw;
  width: 15vw;
  padding-top: 5.3vw;
}
.extension span:nth-child(2) i {
  transform: rotate(0deg);
  transition: transform 0.8s ease-in-out 0.05s;
}
.extension span:nth-child(1) > strong {
  position: relative;
  top: 1.5vw;
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
