@font-face {
  font-family: "roboto";
  src: url("../../public/police_site/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "shrik";
  src: url("../../public/police_site/Shrikhand-Regular.ttf") format("truetype");
}
body, html {
  width: 100%;
  height: 100%;
  font-family: "roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
@media (max-width: 950px) {
  * {
    font-family: 5vw;
  }
}

@media (max-width: 950px) {
  h2, h3 {
    font-size: 6vw;
  }
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 950px) {
  body {
    margin: 0;
  }
}

header {
  border-bottom: 1px solid transparent;
  box-shadow: 1px -3vw 10vw rgba(36, 31, 31, 0.9);
  margin-bottom: 1vw;
}
@media (max-width: 950px) {
  header {
    width: 100%;
    height: 20vw;
    text-align: center;
    display: flex;
  }
  header .logo {
    width: 71%;
    height: 100%;
    text-align: left;
    padding-left: 4vw;
    padding-top: 2vw;
  }
  header .logo > img {
    width: 40vw;
    height: 20vw;
  }
  header .lien {
    width: 29%;
    height: 100%;
    font-size: 5vw;
    text-align: left;
    padding-left: 5vw;
    padding-top: 8vw;
  }
  header .lien__icon {
    display: none;
  }
}

.research {
  background-color: #eaeaea;
}
@media (max-width: 950px) {
  .research {
    width: 100%;
    height: 12vw;
    display: flex;
    font-size: 4vw;
  }
  .research input {
    width: 60%;
    height: 100%;
    font-size: 4vw;
    border: none;
    background: transparent;
    border: none;
    outline: none;
  }
  .research > span {
    display: inline-block;
    width: 40%;
    height: 100%;
    padding-top: 3vw;
    padding-right: 3vw;
    background: transparent;
    text-align: right;
  }
}

@media (max-width: 950px) {
  .section-research {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .section-research__titre {
    margin-top: 10vw;
    width: 90%;
    height: 15vw;
    text-align: center;
  }
  .section-research .description {
    width: 90%;
    margin-top: -3vw;
    height: 8vw;
    text-align: center;
    font-size: 4vw;
    margin-bottom: 10vw;
  }
  .section-research .btn {
    outline: none;
    border: none;
    width: 55vw;
    font-size: 3.5vw;
    border-radius: 6vw;
    font-weight: bold;
    color: white;
    background: linear-gradient(360deg, #9356DC 1%, #c77fb3 100%);
    height: 12vw;
    margin-bottom: 10vw;
  }
}

.box-fct {
  width: 100%;
  height: 90vw;
  font-size: 4.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vw;
}
.box-fct__titre {
  width: 90%;
  height: 5vw;
}
.box-fct .box-fct__contain {
  width: 90%;
  height: 16vw;
  border-radius: 5vw;
  background-color: #f6f6f6;
  padding-top: 5vw;
  font-weight: bold;
  box-shadow: 1px 1vw 2vw rgba(122, 120, 120, 0.5);
}
.box-fct .box-fct__contain:hover {
  background-color: #e2e2e2;
  box-shadow: 1vw 1vw 2vw #7a7878;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.box-fct .box-fct__contain:hover .icon {
  color: #9356DC;
}
.box-fct .box-fct__contain .number {
  display: block;
  position: relative;
  background-color: #9356DC;
  width: 6vw;
  height: 6vw;
  text-align: center;
  color: white;
  margin-left: -3vw;
  border-radius: 100%;
  float: left;
}
.box-fct .box-fct__contain .icon {
  display: block;
  text-align: center;
  float: left;
  color: #7e7e7e;
  margin-left: 5vw;
}
.box-fct .box-fct__contain .text {
  display: block;
  float: left;
  margin-left: 5vw;
}

.resto {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  line-height: 0.5;
  background: #e7e4e4;
  border: 1px solid #e7e4e4;
}
.resto__titre {
  width: 90%;
  height: 6vw;
  text-align: left;
}
.resto__menu {
  width: 90%;
  background: white;
  height: 70vw;
  margin: auto;
  border-radius: 4vw;
  margin-bottom: 3vw;
}
.resto__menu__image {
  width: 100%;
  height: 70%;
}
.resto__menu__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 4vw;
  border-top-right-radius: 4vw;
}
.resto__menu .new-resto {
  width: 25vw;
  height: 8vw;
  background-color: #99E2D0;
  color: #1b6150;
  text-align: center;
  padding-top: 3vw;
  font-weight: bold;
  position: relative;
  top: -61vw;
  right: -60vw;
}
.resto > div:nth-last-child(1) {
  margin-bottom: 15vw;
}

.heart {
  display: block;
  text-align: right;
  z-index: 1000;
  float: right;
  margin-top: -20vw;
  margin-right: 6vw;
}
.heart--position {
  margin-top: -12vw;
}
.heart .test {
  font-size: 8vw;
  color: #9356DC;
  transform: scale(0);
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}
.heart .hide {
  font-size: 8vw;
  z-index: 1;
  position: relative;
  left: 9vw;
}
.heart .hide:hover {
  color: #9356DC;
  transition: 0.2 ease-in-out;
}
.heart .hide:hover + .test {
  transform: scale(1);
}

.text {
  padding-left: 3vw;
}

.box-section {
  width: 100%;
  height: 50vw;
  background: #353535;
  color: white;
}
.box-section > h3 {
  font-family: "shrik";
  width: 90%;
  margin: auto;
  position: relative;
  top: 5vw;
}
.box-section > div {
  width: 90%;
  margin: auto;
  position: relative;
  top: 12vw;
}
.box-section > div > p {
  margin-top: -2vw;
  font-size: 4vw;
}
.box-section > div > p > a {
  color: white;
}
.box-section > div > p > span {
  display: inline-block;
  width: 4vw;
  padding-right: 7vw;
}

/*# sourceMappingURL=main.css.map */
