body{
  
   @media  (max-width: 950px){
       margin:0;
    
   }
       
   }
   header{
    border-bottom:1px solid transparent;
    box-shadow:1px -3vw 10vw  rgba(36, 31, 31,0.9);
    margin-bottom:1vw;
       @include media-query{
        @media(max-width:950px){
            width:100%;
            height:20vw;
            text-align: center;
            display: flex;
           
            .logo{
                width:71%;
                height:100%;
                text-align:left;
                padding-left:4vw;
                padding-top:2vw;
               &__titre{
                   font-size:7vw;
                   font-family:$police-titre;
               }
                
                
            }
        .lien{
            width:29%;
            height:100%;
            font-size:5vw;
            text-align:left;
            padding-left:5vw;
            padding-top:8vw;
            
            &__icon{
              display: none;
            }
        }
        
        }

       };
    
   }
 .research{
     background-color: #eaeaea;
     @include media-query{
     @media(max-width:950px){
     width: 100%;
     height: 12vw;
     display: flex;
     font-size:4vw;
     
     input{
         width: 60%;
         height:100%;
         font-size:4vw;
         border:none;
         background:transparent;
         border:none;
         outline: none;
         
     }
     span{
         display: inline-block;
         width:40%;
         height:100%;
         padding-top:3vw;
         padding-right:3vw;
         background:transparent;
         text-align: right;
          }
        }
    };

 }
   .section-research{
    
     @include media-query{
     @media(max-width:950px){
       width:100%;
       height:100%;
      background: #f6f6f6;
       display: flex;
       flex-direction: column;
       align-items: center; 
      justify-content:space-between;
       &__titre{
        margin-top:10vw;
        width:90%;
        height: 15vw;
        text-align: center;
     
        }
    .description{
        width:90%;
        margin-top:-3vw;
        height:8vw;
        text-align: center;
        font-size:4vw;
        margin-bottom:10vw;
    }
    
    .btn{
        outline: none;
        border:none;
        width:55vw;
        font-size:3.5vw;
        border-radius:6vw;
        font-weight: bold;
        color:white;
        background: linear-gradient(360deg,$color-primaire 1%, $color-secondaire 100%);
        height:12vw;
        margin-bottom:10vw;
    }
      }
       };

   }
   
   .box-fct{
       width:100%;
       height:90vw;
       font-size:4.5vw;
       display: flex;
       flex-direction: column;
       justify-content:space-evenly;
       align-items: center;
       margin-bottom: 10vw;
       &__titre{
           width:90%;
           height:5vw;
       }
       .box-fct__contain{
            width:90%;
          height:16vw;
           border-radius:5vw;
           background-color:#f6f6f6;
           padding-top:5vw;
           font-weight: bold;
           box-shadow:1px 1vw 2vw rgba(122, 120, 120,.5);
           &:hover{
               @include light(#f6f6f6);
           .icon{
               color:$color-primaire;
           }
              
           }
         
           .number{
               display:block;
               position: relative;
               background-color: $color-primaire;
               width:6vw;
               height:6vw;
               text-align: center;
               color:white;
               margin-left:-3vw;
               border-radius:100%;
               float:left;
              
           }
           .icon{
               display:block;
               text-align: center;
               float: left;
               color:#7e7e7e;
               margin-left:5vw;
             
             
           }
           .text{
               display:block;
                float:left;
                margin-left:5vw;
           }
           
       
         
       
       }
   }


.resto{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:4vw;
    line-height:0.5;
    background:rgb(231, 228, 228);
    border:1px solid rgb(231, 228, 228);
   
    &__titre{
        width:90%;
        height: 6vw;
       text-align: left;

    }
    &__menu{
        width:90%;
        background:white;
        height:70vw;
        margin:auto;
        border-radius:4vw;
        margin-bottom:3vw;
        &__image{
            width:100%;
            height:70%;
            & >img{
                width:100%;
                height:100%;
                object-fit: cover;
                border-top-left-radius:4vw;
                border-top-right-radius:4vw;
              
            }
              
        }
        .new-resto{
            width:25vw;
            height:8vw;
            background-color:$color-tertiaire;
            color:darken($color-tertiaire,50%);
            text-align:center;
            padding-top:3vw;
            font-weight: bold;
            position:relative;
            top:-61vw;
            right:-60vw;
        
        }
    }
}
//icones en forme de coeur
.heart{
    width:10%;
    display: block;
    height:20%;
    width:20%;
    text-align: right;
    z-index:1000;
    float:right;
    margin-top:-20vw;
    margin-right:6vw;
    &--position{
        margin-top:-12vw;
    }
    .test{
        font-size:6.3vw;
        color:$color-primaire;
        transform-origin:bottom;
        transform: scale(0);
        z-index:-1;
        transition: transform 0.8s ease-in-out;

    }
    .hide{
        font-size:7vw;
        z-index:1;
        position: relative;
        left:7.6vw;
        &:hover{
            color:$color-primaire;
            +.test{
                transform:scale(1);
            }

        }
        
    }

}
//text contenant le nom des restaurant et les villes
.text{
    padding-left:3vw;
}

.box-section{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    background:$colorbg-footer;
    color:white;
    font-size:4vw;
    >p{
        padding-left:2vw;
        >a{
            color:white;
        }
    }

}
        
  


    
