
body,html{
    font-family:$police-text,sans-serif;
  
}
*{
    box-sizing: border-box;
   font-size:1vw;
    @media (max-width:950px){
        font-size:4vw;
    }
    
}
h2,h3{
    @media (max-width:950px) {
        font-size:6vw;  
    }
   
}
a{
text-decoration: none;
color: black;
}


