


//div contenant la photo du restaurant
.box{
    @media(max-width:950px){
        height:70vw;
    }
    width:100%;
    height:35vw;
  
    &__image{
        width:100%;
        height:100%;
        object-fit: cover;
    }
  
}
//contenant principal
.box-resto{
  
    width:100%;
    height:100%;
    border-top-right-radius:10vw;
    border-top-left-radius:10vw;
    background-color: white;
   background:#f6f6f6;
    position: relative;
    top:-15vw;
    margin-bottom:-15vw;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    &__titre{
        width:100%;
        font-family:'Shrikhand',sans-serif;
        @media(max-width:950px){
            font-size:7vw;
        }
        font-size:4vw;
        padding-left:5vw;
        >span{
            float:right;
            padding-right:10vw;
            >i{
                font-size:4vw;
                padding-top:1.5vw;
                @media(max-width:950px){
                    font-size:6vw;
                    padding-top:2.5vw;
                }
                
            }
        }
    }
}
.box-resto__entree{
        width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
   align-items: center;  
   }

.ma-map{
  
    margin-bottom:3vw;
    .titre-entree{
        @media(max-width:950px){
            width:100%;
        }
        //titre des plats dans le menu
        > h3{
            border-bottom:1vw solid #15DEA5;
            text-transform: uppercase;
            height:10%;
            width:10%;
            @media(max-width:950px){
                font-size:4vw;
            }
            font-size:3vw;
            
        }
    }



}

   .plat{
   
       background: white;
       width:60vw;
       @media(max-width:950px){
        width:90vw;
        height:16vw;
       }
       height:10vw;
       line-height:1.5;
       border-radius:3vw;
       margin-bottom:3vw;
     overflow: hidden;
      display: flex;
      z-index:1000;
      &:hover{
        & .titre{
            width:40vw;
            @media(max-width:950px){
                width:60vw;
            }
            
        }
        .extension{
            span:nth-child(2)>i{
                transform:rotate(360deg);
            }

      }
    }
     
      
       .titre{
            width:60vw;
           @media(max-width:950px){
            width:90vw;
           }
            white-space:nowrap;
            overflow: hidden;
            padding-top:1vw;
            padding-left:2vw;
            text-overflow: ellipsis;
            transition:width .6s ease-in-out;    
            }
           

          
        }
       
       .extension{
            width:10vw;
           @media(max-width:950px){
            width:15vw;
           }
          
           text-align: right;
          white-space: nowrap;
         
          span{
            display:inline-block;
            width:10vw;
            @media(max-width:950px){
             width:15vw;
             height:16vw;
            }
            height:10vw;
            text-align: center;
           
            
        }
          span:nth-child(2){
               color:white;
               background: #15DEA5;
               border-top-right-radius: 3vw;
               border-bottom-right-radius: 3vw;
                width:10vw;
               @media(max-width:950px){
                width:15vw;
                padding-top: 5.3vw;
               }
               padding-top:4vw;
               i{
                   transform:rotate(0deg);
                   transition:transform 0.8s ease-in-out .05s;
                  
               }
              
           }
           span:nth-child(1){
            >strong{
                display:inline-block;
                position: relative;
                top:.5vw;
                @media(max-width:950px){
                    top:1.5vw;
                }
               
                
                
            }
           
           }
          
          
       }
    .box-resto__plat,.box-resto__dessert{
        @extend .box-resto__entree;
    }
    @keyframes apparition-progressive{
        from{
            transform:translateY(-10px);
            opacity:0;
        }
        to{
            transform: translateY(0px);
            opacity:1;
        }
    }
    
   $map-entree:(
    "titre_entree":0s,
    "entree-1":0.4s,
    "entree-2":0.8s,
    "entree-3":1.2s,
     "entree-4":1.6s
   );
   $map-plat:(
    "titre_plat":2s,
    "plat-1":2.4s,
    "plat-2":2.8s,
    "plat-3":3.2s,
     "plat-4":3.6s
   );
   $map-dessert:(
    "titre_dessert":4s,
    "dessert-1":4.4s,
    "dessert-2":4.8s,
    "dessert-3":5.2s,
     "dessert-4":5.6s
   );
   
   @each $key1,$var1 in $map-plat {
    .#{$key1}{
         animation-name:apparition-progressive;
         animation-duration:1s;
         animation-iteration-count:1;
         animation-delay:$var1;
         animation-fill-mode: backwards;
         animation-timing-function: ease-in-out;
     }
}
   
@each $key1,$var1 in $map-dessert {
    .#{$key1}{
         animation-name:apparition-progressive;
         animation-duration:1s;
         animation-iteration-count:1;
         animation-delay:$var1;
         animation-fill-mode: backwards;
         animation-timing-function: ease-in-out;
     }
}


 
        @each $key1,$var1 in $map-entree {
           .#{$key1}{
                animation-name:apparition-progressive;
                animation-duration:1s;
                animation-iteration-count:1;
                animation-delay:$var1;
                animation-fill-mode: backwards;
                animation-timing-function: ease-in-out;
            }
    }
    //changement de taille de police pour le desktop
    .plat{
        >div{
            font-size:2vw;
            @media(max-width:950px){
                font-size:4vw;
            }
            >strong{
                font-size:2vw;
                @media(max-width:950px){
                    font-size:4vw;
                }
            }
        }
        >.extension{
            >span>i{
                font-size: 2vw;
                @media(max-width:950px){
                    font-size:4vw;
                }
            }
            >span>strong{
                font-size: 2vw;
                @media(max-width:950px){
                    font-size:4vw;
                }
            }
        }
    }
   
    
 


  
