$color-primaire:#9356DC;
$color-secondaire:#c77fb3 ;
$color-tertiaire:#99E2D0;
$police-text:'roboto';
$color-degrade:linear-gradient(blue,pink);
$colorbg-footer:#353535;

@mixin media-query {
   @content;
        
    }
    //function for colour light
@function light($color){
    @if(lightness($color)>50%){
        $color:darken($color,8%);
    }@else{
        $color:lighten($color,25%);
    }
    @return $color;
    
}
@mixin light($color){
    background-color:light($color);
    box-shadow:1px .5vw .5vw rgba(122, 120, 120,1);
    @media(max-width:950px){
        box-shadow:1vw 1vw 2vw  rgba(122, 120, 120,1);
    }
    
    transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;


}
    

